
.steptwo_container {
    text-align: center;
    margin-top: 80px;
}

.steptwo_main_title {
    margin: 20px 0 28px;
}
.steptwo_step {
    text-transform: uppercase;
    font-family: 'ProximaNovaBold';
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 3px;
    color: #151515;
    background: #FEE040;
    padding: 4px 10px;
    display: inline-block;
}

.steptwo_content__text {
    width: 980px;
    margin-bottom: 0px;
    margin-left: 0;
    margin: 0 auto;
}


.steptwo_scroll {
    padding-top: 110px;
}


.steptwo_item_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.steptwo_item {
    width: 340px;
    height: 357px;
    background-color: #F5F5F5;
    border-radius: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 34px;
    /* position: relative; */
}

.steptwo_text{
    font-family: 'ProximaNovaBold';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #151515;
    opacity: 0.7;
    width: 260px;
    height: 44px;
    text-align: center;
}

.steptwo_image {
   display: flex;
   bottom: 118px;
   position: absolute;

}

.steptwo_item_container + .steptwo_item_container {
    margin-left: 20px;
}

@media (max-width:780px) {
    .marginer_left {
        width: 70px;
    }

    .marginer_right {
        width: 70px;
    }
}